---
layout: default
post_class: post-template page-template
---

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>


<main class="content" role="main">

    <article class="post">
      <figure class="author-image">
        <a class="img" href="{{ site.baseurl }}" style="background-image: url('/assets/images/{{page.author}}.jpg')">
         <span class="hidden">{{page.author}}'s Picture</span></a>
       </figure>
        <br>
        <h1 class="post-title">{{ page.author }}</h1>
        <section class="post-content">
            {{content}}
        </section>
    </article>
</main>
